<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SKB_LAB | Выгрузка списка отпусков</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href={% static 'style/style.css' %}>
    <link rel="stylesheet" href={% static 'style/adaptive-style.css' %}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="grey">
<header>
    <div class="header-container">
        <a href="/">
            <img class="logo" src={% static 'img/logo.png' %} alt="Логотип">
        </a>
        <div class="right-header">
            <h1>Личный кабинет</h1>
            <div class="delta-header">
                <img class="profile-header" alt="Аватар" src=/media/{{ request.user.photo }} >
                <h2 class="nickname-header">{{ request.user.login }}</h2>
                <a href="/logout" style="height: 28px"><img src={% static 'img/out.png' %} alt="Выход" width="28px"
                                                            height="28px"></a>
            </div>
        </div>
    </div>
</header>
<div class="content-container">
    <div class="left-menu">
        <ul>
            <a href="/">
                <li class="left-menu-element"><img class="left-menu-img" src={% static 'img/profile.png' %} alt=""><span
                        class="left-menu-text">Профиль</span></li>
            </a>
            <a href="/vacations/">
                <li class="left-menu-element"><img class="left-menu-img" src={% static 'img/calen.png' %} alt=""><span
                        class="left-menu-text">График отпусков</span></li>
            </a>
            <a href="/get_access/">
                <li class="left-menu-element"><img class="left-menu-img" src={% static 'img/set.png' %} alt=""><span
                        class="left-menu-text">Доступы к системам</span></li>
            </a>
            <a href="/get_all_employees">
                <li class="left-menu-element"><img class="left-menu-img" src={% static 'img/sotrud.png' %} alt=""><span
                        class="left-menu-text">Список сотрудников</span></li>
            </a>
            <a href="/devices">
                <li class="left-menu-element"><img class="left-menu-img" src={% static 'img/sotrud.png' %} alt=""><span
                        class="left-menu-text">Тестовые девайсы</span></li>
            </a>
        <a href="/events">
                <li class="left-menu-element"><img class="left-menu-img" src={% static 'img/sotrud.png' %} alt=""><span
                        class="left-menu-text">События</span></li>
            </a>
            {% if request.user.position.access_to_candidates %}
                <a href="/get_all_candidates">
                    <li class="left-menu-element"><img class="left-menu-img"
                                                       src={% static "img/sotrud.png" %} alt=""><span
                            class="left-menu-text">Список кандидатов</span></li>
                </a>
            {% endif %}
            {% if request.user.position.access_to_vacation_list %}
                <a href="/download_vacations">
                    <li class="left-menu-element"><img class="left-menu-img"
                                                       src={% static "img/calen_list.png" %} alt=""><span
                            class="left-menu-text">Список отпусков</span></li>
                </a>
            {% endif %}
        </ul>
    </div>

    <div class="red-block download-block">
        <h2 class="h-download">Возможные действия</h2>
        <form action="/download_vacations_list">
            <button class="download-button" type="submit">Выгрузить список отпусков</button>
        </form>
    </div>
</div>
<script>
    async function download_vacation() {
        let response = await fetch('/download_vacations_list/', {
            method: 'GET'
        })
        console.log(response.ok)
    }
</script>
</body>
</html>