<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Регистрация</title>
    <link rel="stylesheet" href={% static 'style/style.css' %}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src={% static 'js/phoneinput.js' %}></script>
</head>
<body>
<header>
    <div class="header-container">
        <a href="/">
            <img class="logo" src={% static 'img/logo.png' %} alt="Логотип">
        </a>
    </div>
</header>
<div class="log-block">

    <form name="reg" class="form-reg" id="reg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="reg-h">Регистрация в личном кабинете сотрудника</h1>
        <div>
            <label class="log-label" for="login">Ваш логин</label><br>
            <input type="text" placeholder="Логин" class="reg-input"
                   name="{{ user_form.email.name }}"
                   id="{{ user_form.email.id_for_label }}"
                   {% if user_form.email.field.required %}required{% endif %}>
        </div>
        <div style="margin-top: 35px">
            <label class="log-label" for="password">Ваш пароль</label><br>
            <input type="password" placeholder="Пароль" class="reg-input"
                   name="{{ user_form.password.name }}"
                   id="{{ user_form.password.id_for_label }}"
                   {% if user_form.password.field.required %}required{% endif %}>
        </div>
        <div style="margin-top: 35px">
            <label class="log-label" for="FIO">ФИО</label><br>
            <input type="text" placeholder="ФИО" class="reg-input"
                   name="{{ user_form.name.name }}"
                   id="{{ user_form.name.id_for_label }}"
                   {% if user_form.name.field.required %}required{% endif %}>
        </div>
        <div style="margin-top: 35px">
            <label class="log-label" for="tel">Ваш номер телефона</label><br>

            <input type="tel" data-tel-input maxlength="18" class="reg-input"
                   placeholder="Номер телефона"
                   name="{{ user_form.phone.name }}"
                   id="{{ user_form.name.id_for_label }}"
                   maxlength="{{ user_form.name.field.max_length }}"
                   {% if user_form.name.field.required %}required{% endif %}>
        </div>


        <div style="margin-top: 35px">
            <label class="log-label" for="position">Выберите должность из списка</label><br>
            <select class="reg-input sel-input" type="select"
                    id={{ user_form.position.position_name }}
                            name={{ user_form.position }}
            </select>
        </div>
        <div style="margin-top: 35px">
            <label class="log-label" for="login_telegram">Ваш логин Telegram</label><br>
            <input type="text" data-tel-input class="reg-input"
                   placeholder="Логин Telegram"
                   name="{{ user_form.telegram_login.name }}"
                   id="{{ user_form.telegram_login.id_for_label }}"
                   {% if user_form.telegram_login.field.required %}required{% endif %}>
        </div>
        <div style="margin-top: 35px">
            <label class="log-label" for="login_slack">Ваш логин Slack</label><br>
            <input type="text" data-tel-input class="reg-input"
                   placeholder="Логин Slack"
                   name="{{ user_form.slack_login.name }}"
                   id="{{ user_form.slack_login.id_for_label }}"
                   {% if user_form.slack_login.field.required %}required{% endif %}>
        </div>
        <div style="margin-top: 35px">

                <label class="log-label" for="system">Запрос на доступ к системам</label><br>
                <select class="reg-input sel-input" name="status" id="system" form="reg" multiple
                        style="height: 100px; padding-top: 10px; padding-bottom: 10px;">
                    {% for conversation in conversations %}
                        <option>{{ conversation.conversation_name }}({{ conversation.messenger }})</option>
{#                        <option>Slack - Java-разработчики</option>#}
{#                        <option>Slack - C++-разработчики</option>#}
{#                        <option>Telegram - java-разработчики</option>#}
{#                        <option>Slack - scala-разработчики</option>#}
{#                        <option>Slack - C#-разработчики</option>#}
                    {% endfor %}
                </select>

        </div>
        <div style="margin-top: 35px">
            <label class="log-label">Ваше фото</label>
            <!--<label class="reg-input reg-download" for="photo">Выбрать фото</label>-->
            <input class="reg-input reg-download-photo" id="photo" name="password" type="file"
                   placeholder="Выбрать фото">
        </div>
        <div style="margin-top: 35px">
            <label class="log-label" for="text">Расскажите о себе</label><br>
            <input id="text" name="password" class="reg-input" type="text" placeholder="Описание">
        </div>
        <div class="check">
            <input type="checkbox" name="checkbox">
            <span>Принимаю условия <a href="/"><u style="color: black">пользовательского соглашения</u></a></span>
        </div>
        <!--
        <div class="check">
            <input type="checkbox" name="checkbox">
            <span>Вы новый сотрудник</span>
        </div>
        -->
        <div>
            <input class="sub-log" type="submit" name="submit" value="Зарегистрироваться">
        </div>
    </form>

</div>
<script src="js/ajax-form.js"></script>
</body>
</html>