{% extends "base.html" %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <script src={% static 'js/phoneinput.js' %}></script>
    <p>Please, sign up using the following form:</p>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label>Login </label>
                {{ user_form.login }}
            </div>
            <div>
                <label>ФИО </label>
                {{ user_form.name }}
            </div>
            <div>
                <label>Телефон </label>
                <input type="tel" data-tel-input placeholder="Phone" maxlength="18"
                       name="{{ user_form.phone.name }}"
                       id="{{ user_form.name.id_for_label }}"
                       {% if user_form.phone.value != None %}value="{{ user_form.phone.value|stringformat:'s' }}"{% endif %}
                       maxlength="{{ user_form.name.field.max_length }}"
                       {% if user_form.name.field.required %}required{% endif %}>
            </div>
            <div>
                <label>Фото </label>
                {{ user_form.photo }}
            </div>
            <div>
                <label>Информация </label>
                {{ user_form.info }}
            </div>
            <div>
                <label>Position </label>
                {{ user_form.position }}
            </div>
            <div>
                <label>Новый сотрудник? </label>
                {{ user_form.is_new_employee }}
            </div>
            <div>
                <label>Пароль </label>
                {{ user_form.password }}
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}