<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Список кандидатов</title>
    <link rel="stylesheet" href={% static 'style/style.css' %}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">#}

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
</head>
<style>
    th {
        width: 212px;
    }
</style>
<body class="grey">
<header>
    <div class="header-container">
        <a href="/">
            <img class="logo" src={% static  "img/logo.png" %} alt="Логотип">
        </a>
        <div class="right-header">
            <h1>Личный кабинет</h1>
            <div class="delta-header">
                <img class="profile-header" src=/media/{{ request.user.photo }} alt="Аватарка">
                <h2 class="nickname-header">{{ request.user.email }}</h2>
                <a href="/" style="height: 28px"><img src={% static "img/out.png" %} alt="Выход" width="28px"
                                                      height="28px"></a>
            </div>
        </div>
    </div>
</header>
<div class="content-container">
    <div class="left-menu">
        <ul>
            <a href="/">
                <li class="left-menu-element"><img class="left-menu-img" src={% static  "img/profile.png"%} alt=""><span
                        class="left-menu-text">Профиль</span></li>
            </a>
            <a href="/">
                <li class="left-menu-element"><img class="left-menu-img" src={% static  "img/calen.png"%} alt=""><span
                        class="left-menu-text">График отпусков</span></li>
            </a>
            <a href="/">
                <li class="left-menu-element"><img class="left-menu-img" src={% static  "img/set.png"%} alt=""><span
                        class="left-menu-text">Доступы к системам</span></li>
            </a>
            <a href="/">
                <li class="left-menu-element"><img class="left-menu-img" src={% static  "img/sotrud.png"%} alt=""><span
                        class="left-menu-text">Список сотрудников</span></li>
            </a>
        </ul>
    </div>
    <div class="right-container">
        <h1 class="h-list">Список сотрудников</h1>
{#        <form action="">#}
{#            <input class="candidate-list" type="text" onkeyup="tableSearch()" placeholder="Поиск сотрудников"#}
{#                   name="share" id="search">#}
{#        </form>#}
        <table class="candidate-table" id="paged">
            <thead>
            <tr class="candidate-list-block">
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Должность</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>

            <tfoot>
            <tr class="nav-back">
                <td colspan="4"></td>
            </tr>
            </tfoot>
        </table>

        <div class="page-panel" style="display: none;">
            <div class="prev">
                <img src={% static  "img/pointer.png"%} alt="" class="prev-img">
                Предыдущий
            </div>

            <div class="next">
                Следующий
                <img src={% static  "img/pointer.png"%} alt="" class="next-img">
            </div>
        </div>

    </div>

</div>
<script>
    let employees = JSON.parse('{{ employees | safe }}');
    let positions = JSON.parse('{{ positions | safe }}');

    for (let i = 0; i < employees.length; i++) {
        let fio = employees[i].fields.name.split(' ');
        let tr = document.createElement('tr');
        tr.classList.add('candidate-list-block');
        let td1 = tr.appendChild(document.createElement('td'));
        td1.innerHTML = fio[0]
        let td2 = tr.appendChild(document.createElement('td'))
        td2.innerHTML = fio[1]
        let td3 = tr.appendChild(document.createElement('td'))
        td3.innerHTML = fio[2]
        let td4 = tr.appendChild(document.createElement('td'))
        td4.innerHTML = positions[employees[i].fields.position - 1].fields.position_name

        document.getElementById('tbody').appendChild(tr);
    }
</script>
{#<script src={% static "js/table-js.js" %}></script>#}
{#<script>#}
{#    let table = document.getElementById('paged');#}
{#    console.log(table)#}
{#    pagedTable(#}
{#        /* Ссылка на рабочую таблицу */#}
{#        table,#}
{#        /* Кол-во строк таблицы на "странице" */#}
{#        10,#}
{#        /* Конфигурация постраничной навигации */#}
{#        {#}
{#            /* текст ссылки "в начало" */#}
{#            toStart: "Начало",#}
{#            /* текст ссылки "предыдущий" */#}
{#            toPrev: "Предыдущий",#}
{#            /* текст ссылки "следующий" */#}
{#            toNext: "Следующий",#}
{#            /* текст ссылки "в конец" */#}
{#            toEnd: "Конец",#}
{#            /* кол-во ссылок, отображаемых на "странице" */#}
{#            linkPerPage: 4,#}
{#            /* Тег для элементов постраничной навигации: */#}
{#            linkTag: "nav-li",#}
{#            /* Шаблон блока постраничной навигации: */#}
{#            template: "<span class='summary'></span><ul class='page-nav'>%n</ul>",#}
{#            /* Событие "после инициализации" - отработает только ОДИН РАЗ! */#}
{#            onAfterInit: function (table) {#}
{#                // Делаем данные опять видимыми#}
{#                table.tBodies[0].style.display = "";#}
{#            }/* ,#}
{#                Это событие будет отрабатывать#}
{#                каждый каз при клике на элементе постраничной навигации#}
{#                если вернуть из ф-ции "false" то переход на страницу не произойдет.#}
{#                onNavClick : function (pageId) {#}
{#                    // Запрещаем переход на четные страницы#}
{#                    return (pageId+1) % 2 ? true : false;#}
{#                } */#}
{#        }#}
{#    );#}
{#</script>#}
<script>$(document).ready(function () {
    $('#paged').DataTable();
});</script>
</body>
</html>
</body>
</html>