.events-container {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-block {
    width: 45%;
    background: #FFFFFF;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    border-radius: 16px;
    transition: 200ms;
    overflow: hidden;
    margin-bottom: 20px;
}

.event-content {
    width: 85%;
    margin: auto;
}

.event-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.green-text {
    color: green;
}

.red-text {
    color: red;
}


.pointer {
    width: 20px;
    height: 18.46px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: 200ms;
}

.event-count {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #AFAFAF;
}

.event-opisanie {
    height: 60px;
}

.party {
    color: grey;
    display: flex;
    justify-content: space-between;
}

.event-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.event-info-block {
    display: flex;
    justify-content: space-between;
}

.date-info {
    line-height: 30px;
}

.event-info-block-left {
    width: 45%;
}

.event-info-block-right {
    width: 55%;
}

.title-event {
    color: #FF7601;
}

.event-place {
    /*color: #8E8E8E;*/
}

.event-anons {
    width: 350px;
}

.no-show {
    max-height: 410px;
}

.show {
    max-height: 1010px;
}

.event-sub {
    padding: 11px 0 11px 0;
    width: 100%;
    text-align: center;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    margin: 25px 0 25px 0;
    text-transform: uppercase;
    transition: 200ms;
    user-select: none;
}

.green-btn {
    background: #00A826;
}

.red-btn {
    background: #FF0000;
}

.new_event {
    display: flex;
    flex-wrap: wrap;
}

.event-red-block {
    width: 40%;
    margin-left: 70px;
}

.event-new-img {
    width: 110px;
    height: 110px;
    border: 1px solid #AFAFAF;
}

.event-red-style {
    margin-left: 0; text-align: center; padding: 25px
}

.event-label {
    color: #AFAFAF;
    margin-bottom: 5px;
}

.event-input {
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
}

.event-red-info {
    text-align: left;
}

.download-event-btn {
    width: 134px;
    background: #00A826;
    border-radius: 16px;
    color: white;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
}
.red-event-block {
    margin-top: 20px;
}

.event-red-img {
    background-size: 100% 280px;
    width: 100%;
    height: 280px;
    /*background-image: url("../img/event.png");*/
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.event-delete {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;
    width: fit-content;
    padding: 5px;
    margin-left: auto;
    cursor: pointer;
    margin-right: 15px;
    user-select: none;
    padding-left: 10px;
    padding-right: 10px;
}

.event-delete-double {
    background: red;
    color: white;
}

.event-input-date {
    width: 150px;
    border: 1px solid #AFAFAF;
    border-radius: 8px;
}

.event-red-textarea {
    width: 200px;
    height: 50px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #AFAFAF;
    outline: none;
}

.section-buttons {
    display: flex;
    width: 90%;
    margin: auto;
}

.section-button {
    font-size: 30px;
    color: #AFAFAF;
    border-bottom: 1px solid #AFAFAF;
    text-align: center;
    margin-top: 50px;
    transition: 200ms;
    width: 50%;
    cursor: pointer;
    user-select: none;
}
.active-btn {
    color: #00AA13;
    border-bottom: 1px solid #00AA13;
}

.section-button:hover {
    color: #00AA13;
    border-bottom: 1px solid #00AA13;
}

#create-new-event, #my_events {
    overflow: hidden;
    max-height: 0;
    transition: 1000ms;
}

.open {

}

@media (max-width: 1550px) {
    .event-img {
        height: 210px;
    }

    .no-show {
        max-height: 307.5px;
    }

    .event-anons {
        width: auto;
    }
}