body {
    font-family: 'Roboto', sans-serif;
}

th {
    text-align: center;
    padding: 0;
}

td {
    text-align: center;
    cursor: pointer;
    user-select: none;
}

table {
    border-collapse: collapse;
}


.calendar-container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.red {
    color: #FF0000;
}

.calendar-header {
    padding-left: 5px;
    padding-bottom: 5px;
}


.calendar-block {
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 230px;
    margin: 20px;
}

.calendar-table {
    width: 100%;
}

.flag {
    background: #6200E8;
    border-radius: 18px;
    color: white;
}

.calendar-count-block {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.calendar-text {
    width: 200px;
    font-weight: bold;
    margin-right: 20px;
}

.calendar-count {
    color: white;
    background: #FF0000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.calendar-sub-btn {
    width: 158px;
    background: #7241FF;
    border: 1px solid #7241FF;
    border-radius: 16px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}

.right-calendar-block {
    width: 1200px;
    margin-left: 150px;
    font-size: 14px;
}

.cal-cont {
    width: 1080px;
}

.high-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-high-calendar {
    width: 400px;
    margin-right: 70px;
}


@media (max-width: 1550px) {
    .calendar-container {
        display: flex;
        flex-wrap: wrap;
        width: 900px;
    }

    .red {
        color: #FF0000;
    }

    .calendar-header {
        padding-left: 3.75px;
        padding-bottom: 3.75px;
    }


    .calendar-block {
        padding: 6px;
        background: #FFFFFF;
        border: 1px solid #ACACAC;
        box-sizing: border-box;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        width: 172px;
        margin: 15px;
    }

    .calendar-table {
        width: 100%;
    }

    .flag {
        background: #6200E8;
        border-radius: 18px;
        color: white;
    }

    .calendar-count-block {
        display: flex;
        align-items: center;
        padding-left: 15px;
        margin-left: 112.5px;
        margin-top: 22.5px;
        margin-bottom: 15px;
    }

    .calendar-text {
        width: 150px;
        font-weight: bold;
        margin-right: 15px;
        font-size: 12px;
    }

    .calendar-count {
        color: white;
        background: #FF0000;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 40px;
        align-items: center;
        padding: 7.5px;
        padding-left: 11.25px;
        padding-right: 11.25px;
        font-size: 12px;
    }

    .calendar-sub-btn {
        width: 118.5px;
        background: #7241FF;
        border: 1px solid #7241FF;
        border-radius: 16px;
        color: white;
        text-align: center;
        margin: auto;
        margin-top: 18.75px;
        cursor: pointer;
        padding: 7.5px;
        user-select: none;
    }

    .right-calendar-block {
        width: 900px;
        margin-left: 112.5px;
        font-size: 12px;

    }

    .cal-cont {
        width: 810px;
    }

    .high-calendar {
        display: flex;
        justify-content: space-between;
    }

    .right-high-calendar {
        width: 300px;
        margin-right: 55px;
        font-size: 12px;
    }


}



