body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: white;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    padding-left: 0px;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

.top-margin {
    margin-top: 35px;
}

.padding-bottom {
    padding-bottom: 55px;
}

.no-display {
    display: none;
}

.header-container {
    max-width: 1640px;
    margin: auto;
    height: 130px;
    align-items: center;
    display: flex;
}

.logo {
    height: 60px;
    width: 211px;
    border-radius: 0px;
}

.reg-block {
    height: 487px;
    width: 560px;
    border-radius: 16px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 120px;
}

.reg-h {
    font-size: 24px;
    text-align: center;
    padding-top: 55px;
}

.reg-input {
    width: 391px;
    height: 44px;
    left: 755px;
    top: 421px;
    font-size: 18px;
    margin-top: 10px;

    /* Gray 6 */

    background: #F2F2F2;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
}

.form-reg {
    max-width: 412px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.log-label {
    font-size: 18px;
    float: left;
}

.sub-log {
    width: 227px;
    height: 50px;
    background: #6C63FF;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    margin-top: 35px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 35px;
}

.sub-log:hover {
    background: #7770f9;
}

.pred_sub {
    color: black;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
}

.log-block {
    width: 560px;
    border-radius: 16px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 120px;
    margin-bottom: 150px;
}

.sel-input {
    color: #757a81;
    outline: none;
    width: 410px;
    padding-right: 20px;
}

.reg-download {
    padding: 10px;
    cursor: pointer;
}

.check {
    display: flex;
    margin-top: 20px;
    font-size: 15px;
}

.reg-download-photo {
    background: none;
    padding-left: 0;
    float: left;
    margin-bottom: 35px;
}

.grey {
    background-color: #F4F4F4;
}

.right-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 79px;

}

.delta-header {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.profile-header {
    width: 70px;
    height: 70px;
    border-radius: 100px;

}

.nickname-header {
    padding-left: 35px;
    padding-right: 35px;
}

.content-container {
    display: flex;
    max-width: 1640px;
    margin: auto;
}

.left-menu-img {
    height: 28px;
}

.left-menu-text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-left: 16px;
}

.left-menu-element {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.left-menu {
    margin-top: 50px;
}

.red-block {
    width: 1140px;
    height: 620px;
    border-radius: 16px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 72px;
    background-color: white;
    border: 1px solid #ACACAC;
}

.h-red {
    text-align: center;
}

.red-img {
    width: 153px;
    height: 153px;
    border-radius: 100px;
    margin-bottom: 65px;
    object-fit: cover;
}

.photo {
    vertical-align: middle;
    margin-right: 10px;
}

.left-content-red {
    width: 200px;
    margin-left: 60px;
    text-align: center;
}

.red-download {
    cursor: pointer;
    width: 183px;
    height: 35px;
    color: white;
    background: #7241FF;
    border-radius: 16px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.delete-photo {
    margin-top: 40px;
    width: 124px;
    height: 26px;

    outline: none;
    background: #FFFFFF;
    border: 1px solid #7241FF;
    color: #7241FF;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

}

.content-red {
/ / display: flex;
    text-align: center;
}

.right-content-red {
    margin-left: 70px;
    margin-top: 30px;
    text-align: center;
}

.red-label {
    color: #AFAFAF;
}

.red-input {
    padding-left: 0;
    background-color: white;
    border-radius: 0px;
    border-bottom: 1px solid #AFAFAF;
    width: 270px;
}

.red-left-right {
    margin-bottom: 20px;
}

.red-sel-input {
    background: #FFFFFF;
    width: 270px;
    margin-bottom: 70px;
}

.delta-right {
    margin-left: 150px;
    width: 150px;
    text-align: left;
}

.opisanie {
    padding-left: 20px;
    font-size: 18px;
    color: #757a81;
}

.red-save {
    width: auto;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    border: none;
}

.sys-block {
    width: 560px;
    height: 366px;
    margin-top: 130px;
    margin-left: 70px;
}

.h-sys {
    margin-top: 60px;
    margin-bottom: 60px;
}

.sys-imgs {
    width: 350px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}

.sys-img {
    width: 60px;
    height: 60px;
}

.sys-form {
    max-width: 370px;
    margin: auto;
    text-align: center;
}

.sys-save {
    text-transform: none;
    margin-top: 65px;
}

.download-block {
    width: 850px;
    height: 226px;
    margin-top: 130px;
    text-align: center;
}

.h-download {
    text-align: center;
}

.download-button {
    margin-top: 30px;
    padding: 10px;
    border: none;
    width: 560px;
    height: 55px;
    outline: none;
    background: #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
}

.candidate-block {
    width: 705px;
    height: 564px;
    height: auto;
}


.candidate-form {
    padding-left: 171px;
    padding-right: 170px;
    text-align: center;
}

.h-candidate {
    margin-top: 60px;
}

.candidate-submit {
    width: 155px;
    height: 39px;
    border: none;
    background: #7241FF;
    border-radius: 16px;
    color: white;
    margin-top: 50px;
    margin-bottom: 60px;
    cursor: pointer;
}

.right-container {
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.h-list {
    font-size: 28px;
    text-align: center;
}

.candidate-list {
    width: 850px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 50px;
    font-size: 20px;
    margin-bottom: 1px;
/ / background: url("/img/mini-share.png");
/ / background-repeat: no-repeat; /*Убираем повтор изображения*/
}

.candidate-table {
    width: 850px;
    border-collapse: collapse;
}

.candidate-list-block {
    width: 850px;
    height: 50px;
    border-bottom: 1px solid #F4F4F4;
    background: #FFFFFF;
    border-radius: 8px;
}

.page-panel {
    width: 850px;
    height: 52px;
    border-top: 3px solid #F4F4F4;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
}

.pages {
    display: flex;
}

.prev-img {
    width: 16px;
    height: 16px;
    transform: scale(-1, 1);
}

.next-img {
    width: 16px;
    height: 16px;
}

.prev {
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 130px;
    justify-content: space-between;
    cursor: pointer;
}

.pages {
    width: 140px;
    justify-content: space-between;
    padding-left: 40px;
}

.next {
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 130px;
    justify-content: space-between;
    cursor: pointer;
}

.page {
    cursor: pointer;
}

.current {
    font-weight: bold;
}

.page-nav {
    display: flex;
    width: 500px;
/ / justify-content: space-between;
    padding-left: 50px;
}

.nav-back {
    background: white;
/ / border-top: 20 px solid #F4F4F4;
    border-radius: 8px;
}

.nav-margin {
    padding-right: 20px;
}

nav-li {
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.text-opisanie {
    padding-left: 20px;
    width: 250px;
    color: #757a81;
    margin-top: 5px;
}

.danger-block-login {
    background-color: #FF9696;
    width: max-content;
    height: 49px;
    margin: auto;
    border-radius: 8px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.auto-height {
    height: auto;
}

/**/

.dataTables_length {
    display: none;
}

.dataTables_filter {
    background-color: #F4F4F4;
    border: none;
    color: #F4F4F4;
    padding-left: 0px;
    font-size: 0;
}

.dataTables_info {
    display: none;
}

.dataTables_paginate {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    width: 850px;
    height: 52px;
    margin-top: 5px;
    align-items: center;
}

#paged_previous {
    margin-left: 70px;
    margin-right: 20px;
}

.paginate_button {
    padding: 5px;
    cursor: pointer;
    outline: none;
}

#paged_next {
    align-items: baseline;
    width: auto;
    margin-left: 20px;
}


.reg-img {
    width: 88px;
    border-radius: 100px;
}


.reg-img-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reg-download {
    text-align: center;
}

.reg-checkbox {
    margin-left: 30px;
}

.add-button {
    display: flex;
    width: 297px;
    height: 50px;
    background: #F2F2F2;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}

.add-button-img {
    width: 16px;
    height: 16px;
    margin-right: 30px;
}

.hr-input {
    width: 553px;
}

.text-add-button {
    color: #AFAFAF;
    margin-left: 40px;
}

.delete-img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#delete-block {
    cursor: pointer;
    user-select: none;
}

.dataTables_empty {
    font-size: 0;
}

.p-top {
    padding-top: 10px;
    max-width: 399px;
}

#snackbar_for_vacations {
    visibility: hidden; /* Hidden by default. Visible on click */
    max-width: 250px; /* Set a default minimum width */
    /*margin-left: -125px; !* Divide value of min-width by 2 *!*/
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    margin: auto;
    /*position: fixed;*/
    /*position: fixed; !* Sit on top of the screen *!*/
    /*z-index: 1; !* Add a z-index if needed *!*/
    /*left: 50%; !* Center the snackbar *!*/
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar_for_vacations.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px;
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}