{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    </head>
    <body>
        <header>
            <div id="header" align="right">
               <h1><a href="/">Портал сотрудника</a></h1>
            </div>
        <div align="right">
            {% if request.user.is_authenticated  %}
                <a href="/get_all_employees">Список сотрудников</a>
                <a href="/edit">Редактировать профиль</a>
                <a href="/logout">Выйти</a>
            {% else %}
                <a href="/register">Зарегистрироваться</a>
                <a href="/login">Войти</a>
            {% endif %}
        </div>
        </header>
        <div id="content">

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>